html,
body {
  display: flex;
  height: auto;
}

.main {
  height: 100vh;
  width: 35vw;
  background-color: rgb(99, 204, 195);
  text-align: center;
  font-family: 'Mukta', sans-serif;
  overflow-y: auto;
}

.main h1 {
  font-size: 2vw;
  padding: 2vh 0;
  font-weight: bold;
  text-decoration: underline;
}

.main img {
  margin: 0 2vh;
}

.links {
  list-style-image: url("../img/point.png");
  list-style-position: inside;
  margin-bottom: 3vw;
  margin-top: 2vw;
}

.links li {
  padding: 1.5vh 0;
  text-decoration: none;
  list-style-type: square;
}

.links a {
  text-decoration: none;
  font-size: 1.5vw;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

iframe {
  height: 100%;
  width: 65vw;
}

.device-unsupported {
  display: none;
}

@media only screen and (max-width: 930px) {

  body,
  html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .main,
  iframe {
    display: none;
  }

  .device-unsupported {
    display: block;
    height: auto;
    width: 50vw;
    border: 1px solid black;
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2vh 2vw;
    box-shadow: 1px 1px 15px 2px black;
    font-size: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .device-unsupported img {
    height: 4vw;
    width: 4vw;
    margin: 1vh 20px 0;
  }
}

@media only screen and (max-height: 420px) {

  body,
  html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .main,
  iframe {
    display: none;
  }

  .device-unsupported {
    display: block;
    height: auto;
    width: 50vw;
    border: 1px solid black;
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2vh 2vw;
    box-shadow: 1px 1px 15px 2px black;
    font-size: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .device-unsupported img {
    height: 3vw;
    width: 3vw;
    margin: 1vh 20px 0;
  }
}